extends layout

block content
	.hero-unit(style="text-align:center; text-shadow: 0 2px 0 #b4c1cd, 0 4px 0 #a0b1bf, 0 6px 0 #8ca0b2, 0 8px 0 #778fa4, 3px 8px 15px rgba(0,0,0,0.1), 3px 8px 5px rgba(0,0,0,0.3);")
		h3(style="color:cyan; font-size:6em;") ERROR 404
		h3(style="color:red; font-size:7em;") ERROR 404
		h3(style="color:blue; font-size:8em;") ERROR 404
		h3(style="color:orange; font-size:9em;") ERROR 404
		h3(style="color:black; font-size:10em;z-index:1;position:relative;") ERROR 404
		h3(style="color:green; font-size:9em;") ERROR 404
		h3(style="color:orange; font-size:8em;") ERROR 404
		h3(style="color:brown; font-size:7em;") ERROR 404
		h3(style="color:darkgreen; font-size:6em;") ERROR 404