extends layout

block content
	//- script(src='/socket.io/socket.io.js')
	script(src='/webrtc.io.js')
	script(src='chat.js')

	.row
		.span12
			h1 Video Conference Page
			h3 Topics:
			button#logoutBtn Logout
			p#roominfo
			button.room CSE430
			button.room CSE464
			button.room CSE598
			.videos
				//- .video
				//- 	video#myvideo(autoplay)
				//- canvas#canvas 
				//- video#remotevideo(autoplay)