doctype 5
html(lang="en")
	head
		title= title
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
		link(href="/style.css", rel="stylesheet")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
	body
		.container
			block content