doctype 5
html(lang="en")
	head
		title= title
		link(href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css", rel="stylesheet")
		link(rel="stylesheet", type="text/css", href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css")
		link(href="/style.css", rel="stylesheet")
		script(type="text/javascript", src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js")
		script(type="text/javascript", src="http://code.jquery.com/ui/1.10.1/jquery-ui.js")
	body
		.container
			block content