extends layout

block content
	.hero-unit.span12
		h1 Welcome to Thoth
		br
		.form
			form
				label Username:
				input(id="user", type="text", placeholder="Enter username...")
				label Password:
				input(id="password", type="password", placeholder="Enter password...")
				br
				a.btn.btn-success.btn-large
					| Login

	script(type="text/javascript")
		$(function(){
			$('#user').focus();
			$('input').keypress(function (e) {
				if (e.which == 13) {
					$('.btn').trigger('click');
					e.preventDefault();
				}
			});
			$('.btn').click(function(){
				$.ajax({
					url: '/login',
					type: 'POST',
					dataType: 'json',
					data: {username: $('#user').val(), password: $('#password').val() },
					success: function(data, textStatus, xhr) {
						console.log(data);
						window.location.href = data;
					},
				});
			});
		});

