extends layout

block navbar
	.navbar.navbar-inverse.navbar-fixed-top
		.navbar-inner
			.container.container-fluid
				button.btn.btn-navbar(type='button', data-toggle='collapse', data-target='.nav-collapse')
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.brand(href='#')=topic
				.nav-collapse.collapse
					a(href="/vnc/vnc.html", target="_blank") NoVNC
					p.navbar-text.pull-right(style="margin:0em 0.5em 0em;")
						| Logged in as 
						a.navbar-link(href='#') Username
					a.btn.btn-info.pull-right#logoutBtn(style="margin:0.7em 0.5em 1em;") 
						| Logout
					a.btn.btn-success.pull-right#backBtn(href='/topics', style="margin:0.7em 0.5em 1em;") 
						i.icon-circle-arrow-left.icon-white
						| Back to Topics
					ul.nav
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| VM Sharing
								b.caret
							ul.dropdown-menu
								li
									a(href='#', onclick='VMshare()') VM1
								li
									a(href='#', onclick='VMshare()') VM2
								li
									a(href='#', onclick='VMshare()') VM3
						li.dropdown
							a.dropdown-toggle(data-toggle='dropdown', href='#')
								| Documentation
								b.caret
							ul.dropdown-menu
								li
									a(href='#') User
								li
									a(href='#') VMs
						li
							a(href='#') Help
	


block content
	.row-fluid
			.span3
				#navbar.well.sidebar-nav
					.videos
					//- ul.nav.nav-list
					//- 	label.checkbox.inline
					//- 		input#videoOn(type='checkbox', value='videoOn', checked='yes')
					//- 		| Video
					//- 	li.divider
					//- 	div
					//- 		.videoUiWrapper.thumbnail
					//- 			video#huang(src='', style='width: 100%; max-width: 200%;', autoplay='autoplay')
					//- 	li.nav-header Dr. Huang
						
			.span7
				//- div
				//- 	h2 
					//- .videoUiWrapper.thumbnail
					//- 	video#demo1(width='700px', height='400px')
				.centerStream
					h2(style="text-align:center;line-height:350px;") Network Configuration & Video Conferencing
			.span2
				#navbar2.well.sidebar-nav
					h2 Your VMs
					hr
					.center
						h4 VM1
						canvas#vm1.icon
	.navbar-fixed-bottom
	.row
		//- include webrtc
	.row
		//- include vnc
	
	script(src='/webrtc.io.js')
	script(src='/topic.js')