video {
	max-width: 200px;
	background: rgba(0,0,0,0.1);
	border: 1px solid #ccc;
	margin:20px 5px;
	padding: 1px;
	-webkit-box-shadow: 10px 10px 5px #888888;
	box-shadow: 0 2px 5px #888888;
}

.videos {
	/*-webkit-columns: 4;
	-moz-columns: 4;
	columns: 4;*/
}
