/*
@================================================================================
@= WebRTC CSS
@================================================================================
*/
body
{
  padding-top:5%;
  background-image:url(http://mobicloud.asu.edu/images/bg.png)
}

h3
{
  font-size:1.5em;
  line-height:1.4em
}

h4
{
  font-size:1.2em;
  line-height:1.4em
}

a.btn
{
  margin:0 .5em
}

a.vm
{
  margin:10px 0
}

.active
{
  box-shadow:1px 1px 40px rgba(200,200,200,0.5);
}

/* Shadows */
.well, .nav > li:hover, .centerStream, .btn
{
  box-shadow:4px 4px 40px rgba(0,0,0,0.5);
  transition : box-shadow 0.3s linear;
}

.well:hover, .nav > li:hover, .video:hover, .centerStream:hover, .btn:hover
{
  box-shadow:8px 8px 80px rgba(0,0,0,0.5);
}

.container
{
  width:100%
}

.hero-unit,.form
{
  text-align:center
}

.sidebar-nav
{
  height:100%
}

/* SCALE IFRAME */
.resize_iframe
{
  width:1024px;
/* height = vnc_height/2 + status_bar_height = 384px+20px = 404px */
  height:698px;
  padding:0;
  overflow:hidden;
  max-width:1024px
}

#vncIframe
{
  width:1024px;
  height:768px;
  max-width:1024px;

  zoom:1.07;
  transform:scale(0.5);
  transform-origin:0 0
}

/* /SCALE IFRAME */
footer
{
  text-align:center;
  color:#fff
}

.centerStream
{
  text-align:center;
  border:10px solid #a52a2a;
  height:inherit;
  width:inherit;
  min-height:400px;
  min-width:100%;
  max-height:100%;
  max-width:100%;
  background-color:#fff
}

video,canvas
{
  height:inherit;
  width:inherit;
  position:relative;
  overflow:hidden
}

.video
{
  position:relative;
  overflow:visible;
}

#chatbox
{
  position:fixed;
  right:20px;
  bottom:0;
  z-index:1
}

#chatinput
{
  background:none repeat scroll 0 0 #F9F9F9;
  border:1px solid #CCC;
/*border-radius: 0px 0px 5px 5px;*/
  font:300 18px/40px light,'Helvetica Neue',Arial,Helvetica,sans-serif;
  height:40px;
  letter-spacing:1px;
  margin-bottom:0;
  padding:5px 10px
}

#messages
{
  overflow:scroll;
  background:none repeat scroll 0 0 #F9F9F9;
  border:1px solid #CCC;
  font:300 18px/40px light,'Helvetica Neue',Arial,Helvetica,sans-serif;
  height:200px;
  letter-spacing:1px;
  margin-bottom:0;
  padding:5px 10px;
  display:none
}