video,canvas {
	height:inherit;
	width:inherit;
    position:relative;
    overflow:hidden;
}

.video{
	position:absolute;
	border-radius: 50px;
	/*border: 5px solid red;*/
	overflow: visible;

	/* Apply Shadow */
	-webkit-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
	-moz-box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
	box-shadow: 2px 2px 50px rgba(0,0,0,0.6);
}

.videos {
/*	border: 1px solid #dedede;
	-webkit-columns:  4;
	-moz-columns:  4;
	columns:  4;
	height:100%;
	width:100%;*/
}
.ui-resizable-helper { border: 2px dotted #00F; }